<div id="sd-checkout-purchaseorder" class="form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
    <h1>hello world</h1>
    <fieldset class="fieldset payment method" data-bind='attr: {id: "payment_form_" + getCode()}'>
        <div class="field field-number required">
            <label for="po_number" class="label">
                <span><!-- ko i18n: 'Purchase Order Number'--><!-- /ko --></span>
            </label>
            <div class="control">
                <input type="text"
                   id="po_number"
                   name="payment[po_number]"
                   data-validate="{required:true}"
                   data-bind='
                        attr: {title: $t("Purchase Order Number")},
                        value: purchaseOrderNumber'
                   class="input-text"/>
            </div>
        </div>
    </fieldset>
</div>
